.App {
  text-align: center;
}

#navContainer {
  display: flex;
  justify-content: center;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 750px;
  background-color: red;
  margin: 15px;
  padding: 5px 10px 5px 10px;
}

#counterContainer {
  display: flex;
  justify-content: center;
  margin: 15px;
}

#counterContent {
  display: flex;
  flex-direction: row;
  width: 700px;
  justify-content: space-evenly;
}

.button {
  position: relative;
  top: 20px;
}

button {
  cursor: pointer;
}

#starContainer {
  display: flex;
  justify-content: center;
}

.starArea {
  display: flex;
  flex-direction: row;
}

.eachStar {
  padding: 5px;
  border: 1px solid gold;
  border-radius: 10px;
}